#img{
    background-image: url('image/image2.jpg');
    padding: 60px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
h1{
    font-family: Garamond, serif;
    font-style: italic;
}
.col-4{
    background-color: chocolate;
    padding: 10px;
    
    
}
.row{
    padding: 20px;
}
